html{
    font-size: 10px;  /*px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту*/ 
    font-family: 'Roboto', sans-serif;       /*шрифт*/ 
    background-color: rgb(206, 217, 228);    /*заливка вокруг*/ 
}  
h1{
    font-size: 40px;  /*Картинка кошечки*/ 
    text-align: center;
    margin: 0px; /*отсутствие отступов снаружи блока*/
    padding: 20px  0; /*отступы внутри блока*/
    text-shadow: 2px 2px 2px rgb(223, 141, 18); /*тени шрифта*/
}
h2{
    font-size: 20px;  /*О мышечках*/ 
    text-align: center;
    margin: 0px; /*отсутствие отступов снаружи блока*/
    padding: 20px  0; /*отступы внутри блока*/
    text-shadow: 2px 2px 2px rgb(214, 163, 52); /*тени шрифта*/
}

p,li{    /* 'p'- применимо для конкретного, 'p,ul'- применимо для всех*/ 
    color: rgb(218, 8, 26);  /*цвет шрифта*/ 
    font-size: 20px;  /*шрифт содержания*/ 
    line-height: 40px;   /*расстояния между строками*/ 
    letter-spacing: 2px;  /*расстояния между буквами*/
    border: 3px solid rgb(54, 25, 52);  /*окантовка шрифта*/ 
    width: 300px;   /*ширина блока*/ 
}
body{
    width: 600px; /*ширина блока*/
    margin: 0px;   /*отступы снаружи блока*/
    background-color: rgb(228, 218, 166);  /*заливка*/
    padding: 0 20px 20px 20px;  /*отступы внутри блока*/
    border: 10px solid rgb(211, 199, 199) ;  /*граница показывающая где заканчивается элемент*/
}
img{
    display: block;  /* */
margin: 0 auto;  /*отступы снаружи блока(картинка посередине)*/
}
