.myclass{
    width: 40vw; /*размер картинки*/ 
}
html{
    background-color: rgb(220, 249, 168);
}
h1{
    background-color: rgb(148, 111, 235);
    color: burlywood;
}
a{
    text-shadow: 2px 2px 2px rgb(245, 96, 10);
    color: rgb(80, 255, 159);
    font-size: 30px; /*Спросите у яндекса*/ 

}



